/* start common style*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* colors */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #535455;
}

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.modal {
  overflow-y: auto;
}

.w-49 {
  width: 49% !important;
}

a, button {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

form .form-group {
  margin-bottom: 35px;
}
form .form-group label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  color: #535455;
}
form .form-group .form-control {
  height: 55px;
  padding: 10px 20px;
  font-size: 15px;
  color: #535455;
  border: 1px solid transparent;
  background: #f6f6f6;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
form .form-group .form-control:focus {
  background-color: #fff;
  outline: 0;
  box-shadow: none;
  border: 1px solid #d6d6d6;
}
form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), form .bootstrap-select > .dropdown-toggle {
  height: 50px;
  border-radius: 7px;
}
form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder, form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:active, form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:focus,
form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:hover, form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder, form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:active, form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:focus,
form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:hover {
  border-radius: 7px;
}

:placeholder-shown::-webkit-input-placeholder {
  opacity: 1;
  color: #a7a7a7;
}

.modal-content {
  border-radius: 0;
  padding: 5px 15px;
}

.owl-carousel {
  direction: ltr;
}

.customHr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #eaeaea;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

p {
  margin-bottom: 0;
}

.toggleOpacity {
  opacity: 1 !important;
}

.mr-18 {
  margin-right: 18px;
}

.mr-27 {
  margin-right: 27px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.orangeBtn {
  background-color: #FCA003;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  padding: 5px 0;
  width: 100%;
  justify-content: center;
  font-size: 17px;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 25px;
  font-weight: bold;
}
.orangeBtn:hover {
  border-color: #FCA003;
  background-color: #fff;
  color: #FCA003;
}

/* end common style*/
/* start loader */
.layer-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer-preloader img {
  width: 200px;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end loader */
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  direction: rtl;
  text-align: right;
  overflow: hidden;
}

/*start auth form */
.authForm .container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.authForm .container .logo {
  width: 215px;
  margin-top: 20px;
}
.authForm .container form {
  background-color: #fff;
  width: 540px;
  min-height: 415px;
  margin-bottom: 20px;
  padding: 50px;
  -webkit-box-shadow: 0px -4px 17px 0px #e2e0e0;
  -moz-box-shadow: 0px -4px 17px 0px #e2e0e0;
  box-shadow: 0px -5px 23px 0px #e2e0e0;
}
.authForm .container form .title {
  color: #FCA003;
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
}
.authForm .container form .forget {
  margin-bottom: 30px;
  font-weight: bold;
  color: #a7a7a7;
  font-size: 17px;
}
.authForm .container form .createAcc {
  font-weight: bold;
  color: #FCA003;
  font-size: 20px;
  justify-content: center;
}
.authForm .container .footerBuilding {
  position: absolute;
  bottom: -30px;
  right: 0;
  left: 0;
  margin: auto;
  height: 500px;
  width: 100%;
  z-index: -1;
}
.authForm .container .custom-checkbox {
  padding: 0;
}
.authForm .container .custom-checkbox .custom-control-label {
  color: #535455;
  margin-bottom: 35px;
  font-weight: bold;
  padding-right: 40px;
  font-size: 15px;
}
.authForm .container .custom-checkbox .custom-control-label span {
  color: #FCA003;
  margin-right: 1px;
}
.authForm .container .custom-checkbox .custom-control-label::before {
  width: 20px;
  height: 20px;
  background-color: #FCA003;
  border: 0;
  top: 0;
  left: auto;
  right: 0;
}
.authForm .container .custom-checkbox .custom-control-label::after {
  top: 50%;
  left: auto;
  right: 0;
  transform: translateY(-50%);
  padding-right: 20px;
}
.authForm .container .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url(../img/tickWhite.svg);
}
.authForm .container .custom-control-input:checked ~ .custom-control-label::before {
  color: #FCA003;
  border-color: #FCA003;
  background-color: #FCA003;
}
.authForm .container .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

/*end auth form */
/* start index */
.dashHeader {
  background: #2D2D2D;
  webkit-box-shadow: 0px 3px 5px 0px rgba(111, 111, 111, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(111, 111, 111, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(111, 111, 111, 0.75);
}
.dashHeader .container {
  padding: 0 50px;
  max-width: 100%;
}
.dashHeader .container .menu {
  height: 80px;
}
.dashHeader .container .menu .rightDiv {
  display: flex;
  align-items: center;
  width: 255px;
  justify-content: space-between;
}
.dashHeader .container .menu .rightDiv img {
  width: 115px;
  margin-right: 25px;
}
.dashHeader .container .menu .rightDiv .toggleSideMenu span.icon-noun_menu {
  color: #fff;
  font-size: 20px;
}
.dashHeader .container .menu .leftDiv .lang {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-left: 1px solid #6b6b6b;
  padding-left: 20px;
}
.dashHeader .container .menu .leftDiv .lang .icon-language {
  font-size: 22px;
  margin-left: 10px;
}
.dashHeader .container .menu .leftDiv .notifications {
  position: relative;
  margin: 0 25px;
}
.dashHeader .container .menu .leftDiv .notifications:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: #FCA003;
  border-radius: 50%;
}
.dashHeader .container .menu .leftDiv .notifications .icon-notifcation {
  color: #fff;
  font-size: 24px;
}
.dashHeader .container .menu .leftDiv .profile {
  height: 50px;
  position: relative;
  cursor: pointer;
}
.dashHeader .container .menu .leftDiv .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 7px;
}
.dashHeader .container .menu .leftDiv .profile .icon-arrow_down_sign_to_navigate {
  color: #fff;
  font-size: 8px;
}
.dashHeader .container .menu .leftDiv .profile ul {
  visibility: hidden;
  width: 170px;
  background-color: #333;
  color: #FFF;
  position: absolute;
  top: 55px;
  right: -75px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0;
  border-radius: 5px;
}
.dashHeader .container .menu .leftDiv .profile ul li {
  padding: 15px;
  border-bottom: 1px solid #fff;
}
.dashHeader .container .menu .leftDiv .profile ul li a {
  color: #fff;
}
.dashHeader .container .menu .leftDiv .profile ul li a:hover {
  color: #FCA003;
}
.dashHeader .container .menu .leftDiv .profile ul li:last-child {
  border-bottom: 0;
}
.dashHeader .container .menu .leftDiv .profile:hover ul {
  opacity: 1;
  visibility: visible;
}

.dashContent {
  justify-content: flex-end;
}
.dashContent .sideMenu {
  width: 300px;
  box-shadow: 4px 0 15px 0 rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 4px 0 15px 0 rgba(0, 0, 0, 0.03);
  -o-box-shadow: 4px 0 15px 0 rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 4px 0 15px 0 rgba(0, 0, 0, 0.03);
  background: #2D2D2D;
  min-height: calc( 100vh - 80px);
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  padding: 40px 0;
  right: 0;
  left: auto;
  overflow: auto;
}
.dashContent .sideMenu.ulDir {
  width: 0;
  padding: 50px 0;
}
.dashContent .sideMenu .restInfo {
  padding: 0 30px;
}
.dashContent .sideMenu .restInfo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
}
.dashContent .sideMenu .restInfo span {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}
.dashContent .sideMenu .mainUl {
  margin-top: 50px;
}
.dashContent .sideMenu .mainUl li {
  margin-bottom: 15px;
}
.dashContent .sideMenu .mainUl li > a {
  color: #fff;
  font-size: 17px;
  padding: 10px 30px;
  border-right: 3px solid transparent;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.dashContent .sideMenu .mainUl li > a span {
  margin-left: 20px;
}
.dashContent .sideMenu .mainUl li.active > a, .dashContent .sideMenu .mainUl li:hover > a {
  border-right: 3px solid #FCA003;
  color: #FCA003;
}
.dashContent .sideMenu .mainUl li.sub-menu ul {
  margin: 15px 50px 15px 0;
}
.dashContent .content {
  background: #e4e4e4;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.dashContent .content.w-78 {
  width: calc( 100% - 300px);
}
.dashContent .content .container {
  padding: 30px 30px 30px 55px;
}
.dashContent .content .container .mainOrders {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashContent .content .container .mainOrders .blackBox {
  flex: 0.32;
  display: flex;
  align-items: center;
  background: #2D2D2D;
  color: #fff;
  justify-content: center;
  padding: 20px;
  -webkit-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.75);
}
.dashContent .content .container .mainOrders .blackBox img {
  idth: 70px;
  height: 60px;
  margin-left: 30px;
}
.dashContent .content .container .mainOrders .blackBox span {
  width: 55px;
  height: 55px;
  margin-left: 30px;
  background: #FCA003;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 10px 0 #eec633;
  -moz-box-shadow: 0 0 10px 0 #eec633;
  box-shadow: 0 0 10px 0 #eec633;
}
.dashContent .content .container .mainOrders .blackBox h3 {
  font-size: 20px;
}
.dashContent .content .container .mainOrders .blackBox h3:first-child {
  font-size: 28px;
}
.dashContent .content .container .latestProducts {
  padding: 40px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 30px 0;
  -webkit-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
}
.dashContent .content .container .latestProducts h3 {
  font-size: 25px;
  color: #535455;
  position: relative;
  font-weight: bold;
}
.dashContent .content .container .latestProducts h3 span {
  position: relative;
  z-index: 2;
}
.dashContent .content .container .latestProducts h3:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: -5px;
  right: 0;
  background: #FCA003;
  z-index: 0;
  border-radius: 50%;
}
.dashContent .content .container .latestProducts .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.dashContent .content .container .latestProducts .products .product {
  border-radius: 10px;
  width: 180px;
  overflow: hidden;
  color: #fff;
}
.dashContent .content .container .latestProducts .products .product img {
  width: 100%;
  height: 160px;
}
.dashContent .content .container .latestProducts .products .product .info {
  background: #535455;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.dashContent .content .container .latestProducts .products .product .info h5 {
  font-size: 15px;
}
.dashContent .content .container .latestProducts .products .product .info h5:last-child {
  margin-bottom: 0;
}
.dashContent .content .container .mainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashContent .content .container .mainInfo .whiteBox {
  background: #fff;
  display: flex;
  align-items: center;
  flex: 0.3;
  -webkit-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
}
.dashContent .content .container .mainInfo .whiteBox .orangeBg {
  background: #FCA003;
  padding: 7px;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashContent .content .container .mainInfo .whiteBox .orangeBg img {
  width: 65px;
  height: 65px;
}
.dashContent .content .container .mainInfo .whiteBox .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 25px;
}
.dashContent .content .container .mainInfo .whiteBox .info h3 {
  margin-bottom: 0;
  font-size: 20px;
}
.dashContent .content .container .mainInfo .whiteBox .info h3:last-child {
  font-size: 28px;
}
.dashContent .content .container .notifications {
  margin-top: 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
}
.dashContent .content .container .notifications .headTitle {
  display: flex;
  align-items: center;
  border-right: 18px solid #f29f33;
  padding: 25px 30px;
  background: #e2e2e2;
}
.dashContent .content .container .notifications .headTitle h3 {
  font-size: 22px;
  color: #535455;
  font-weight: bold;
  margin-bottom: 0;
}
.dashContent .content .container .notifications .noti {
  padding: 25px 45px;
  border-bottom: 1px solid #e2e2e2;
}
.dashContent .content .container .notifications .noti .notiHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
.dashContent .content .container .notifications .noti .notiHead .title {
  display: flex;
  align-items: center;
}
.dashContent .content .container .notifications .noti .notiHead .title h5 {
  font-size: 18px;
}
.dashContent .content .container .notifications .noti .notiHead .title span {
  margin-right: 40px;
}
.dashContent .content .container .notifications .noti .notiHead .stars span {
  font-size: 14px;
  color: #a7a7a7;
}
.dashContent .content .container .notifications .noti .notiHead .stars span.active {
  color: #f9c933;
}
.dashContent .content .container .notifications .noti .notiHead h5 {
  margin-bottom: 0;
  color: #FCA003;
  font-weight: bold;
  font-size: 20px;
}
.dashContent .content .container .notifications .noti .notiHead span {
  color: #7e8082;
}
.dashContent .content .container .notifications .noti p {
  color: #7e8082;
  line-height: 29px;
  width: 80%;
}
.dashContent .content .container .notifications .noti.rate {
  display: flex;
  align-items: center;
}
.dashContent .content .container .notifications .noti.rate img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
  border: 1px solid #e2e2e2;
}
.dashContent .content .container .rateNumber {
  background: #fff;
  margin-top: 30px;
  height: 80px;
  color: #2D2D2D;
  font-size: 22px;
  font-weight: bold;
}
.dashContent .content .container .rateNumber span {
  color: #f9c933;
  font-size: 35px;
  margin-left: 25px;
}
.dashContent .content .container .filterDiv {
  margin: 30px 0;
  background: #fff;
  -webkit-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashContent .content .container .filterDiv .custom-checkbox {
  padding-left: 0;
}
.dashContent .content .container .filterDiv .custom-checkbox .custom-control-label {
  padding-right: 25px;
  font-size: 15px;
  color: #2d2d2d;
}
.dashContent .content .container .filterDiv .custom-checkbox .custom-control-label::before {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: auto;
  border: #2d2d2d solid 1px;
}
.dashContent .content .container .filterDiv .custom-checkbox .custom-control-label::after {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: auto;
}
.dashContent .content .container .filterDiv .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #FCA003;
  background-color: #FCA003;
}
.dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle {
  width: 110px;
  height: 40px;
  font-size: 15px;
  background-color: #f7f7f7;
  color: #a7a7a7;
  margin-right: 15px;
}
.dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder, .dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:active, .dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:focus,
.dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:hover, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:active, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:focus,
.dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:hover {
  background: #fff;
  color: #1c1b1c;
  font-size: 14px;
  height: 100%;
  border: 1px solid #f7f7f7;
  box-shadow: none;
  outline: 0 !important;
  border-radius: 7px;
}
.dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-toggle:focus, .dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > select.mobile-device:focus + .dropdown-toggle, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle .dropdown-toggle:focus, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
  outline-offset: 0;
  background-color: #f7f7f7;
}
.dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .filter-option-inner, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle .filter-option-inner {
  height: 100%;
  align-items: center;
  display: flex;
}
.dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle .dropdown-menu {
  padding: 0;
}
.dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu .dropdown-item.active, .dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu .dropdown-item:active, .dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu .dropdown-item:focus, .dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu .dropdown-item:hover, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle .dropdown-menu .dropdown-item.active, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle .dropdown-menu .dropdown-item:active, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle .dropdown-menu .dropdown-item:focus, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle .dropdown-menu .dropdown-item:hover {
  background-color: #FCA003;
  color: #ffffff;
}
.dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle .dropdown-menu li {
  border-bottom: 1px solid #d6d6d6;
  text-align: right;
}
.dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li:last-child, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle .dropdown-menu li:last-child {
  border: 0;
}
.dashContent .content .container .filterDiv .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li a, .dashContent .content .container .filterDiv .bootstrap-select > .dropdown-toggle .dropdown-menu li a {
  padding: 10px;
}
.dashContent .content .container .filterDiv :placeholder-shown::-webkit-input-placeholder {
  opacity: 1;
  color: #a7a7a7;
}
.dashContent .content .container .filterDiv .addMenu {
  width: 35px;
  height: 35px;
  background: #FCA003;
  color: #fff;
  justify-content: center;
  border-radius: 7px;
  font-size: 25px;
  border: 1px solid transparent;
}
.dashContent .content .container .filterDiv .addMenu:hover {
  background: #fff;
  color: #FCA003;
  border: 1px solid #FCA003;
}
.dashContent .content .container .filterDiv .modal .orangeBtn {
  width: 150px;
  margin: 0 25px 0 0;
  border-radius: 0;
}
.dashContent .content .container .filterDiv .modal .modal-dialog {
  max-width: 800px;
}
.dashContent .content .container .filterDiv .modal .modal-dialog .modal-body form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.dashContent .content .container .filterDiv .modal .modal-dialog .modal-body form .form-group {
  margin-bottom: 0;
  flex: 1;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content {
  padding: 0;
  border: 0;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-header {
  background-color: #FCA003;
  color: #fff;
  opacity: 1;
  align-items: center;
  border-bottom: 0;
  border-radius: 0;
  padding: 20px 30px;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-header h5 {
  font-size: 22px;
  font-weight: bold;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-header .close {
  color: #fff;
  padding: 0;
  margin: 0;
  opacity: 1;
  font-size: 30px;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body {
  padding: 30px;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form {
  flex-direction: column;
  align-items: normal;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form h4 {
  margin-bottom: 30px;
  font-size: 21px;
  color: #2D2D2D;
  font-weight: bold;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .custom-switch {
  padding-left: 70px;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .custom-switch .custom-control-label {
  font-size: 17px;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .custom-switch .custom-control-label::before {
  border-radius: 15px;
  width: 50px;
  height: 25px;
  left: -70px;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .custom-switch .custom-control-label::after {
  top: 28%;
  left: -65px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #cacaca;
  background-color: #cacaca;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #f29f33;
  left: -55px;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .add {
  color: #FCA003;
  font-size: 20px;
  margin: 60px 0 30px;
  width: fit-content;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .add i {
  width: 35px;
  height: 35px;
  background: #FCA003;
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
  border-radius: 7px;
  font-size: 25px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .add:hover i {
  background: #fff;
  color: #FCA003;
  border: 1px solid #FCA003;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .form-group {
  position: relative;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .form-group label {
  font-weight: normal;
  font-size: 17px;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .form-group #photo-upload {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .form-group .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), .dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .form-group .bootstrap-select > .dropdown-toggle {
  width: 100%;
  height: 55px;
  border-radius: 0;
  margin-right: 0;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-body form .form-group textarea {
  resize: none;
  height: auto;
}
.dashContent .content .container .filterDiv .modal#addProduc .modal-content .modal-footer {
  padding: 20px 30px;
  border-top: 0;
}
.dashContent .content .container div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_length, .dashContent .content .container div.dataTables_wrapper .dataTables_filter {
  color: #535455;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
}
.dashContent .content .container div.dataTables_wrapper .dataTables_length label, .dashContent .content .container div.dataTables_wrapper .dataTables_filter label {
  margin-bottom: 0;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_length input, .dashContent .content .container div.dataTables_wrapper .dataTables_filter input {
  border: 0;
  border-radius: 0;
  padding: 5px;
  background-color: #f7f7f7;
  margin-left: 3px;
  margin-right: 10px;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_length select, .dashContent .content .container div.dataTables_wrapper .dataTables_filter select {
  margin: 0 10px;
  border: 0;
  border-radius: 0;
  padding: 5px;
  background-color: #f7f7f7;
  padding: 4px;
  width: 100px;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollHead {
  padding: 5px 10px;
  background: #2d2d2d;
  color: #fff;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner {
  width: 100% !important;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table {
  width: 100% !important;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead th, .dashContent .content .container div.dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead td {
  border-bottom: 0;
  text-align: center;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody {
  height: auto !important;
  max-height: unset !important;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table {
  width: 100% !important;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr {
  background-color: #fff;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td {
  text-align: center;
  color: #7e8082;
  padding: 20px 10px;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td .custom-control-label {
  font-size: 15px;
  color: #2d2d2d;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td .custom-control-label::before {
  background-color: #f7f7f7;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #FCA003;
  background-color: #FCA003;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td a {
  justify-content: center;
  color: #7e8082;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td a:hover {
  color: #FCA003;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td a.edit, .dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td a.delete {
  background: #f7f7f7;
  width: 100px;
  height: 40px;
  margin: auto;
  border-radius: 9px;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td a.edit:hover {
  background-color: #FCA003;
  color: #fff;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td a.delete:hover {
  background-color: #f00;
  color: #fff;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr td a.more {
  font-size: 8px;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr.odd > .sorting_1, .dashContent .content .container div.dataTables_wrapper .dataTables_scrollBody table tbody tr.even > .sorting_1 {
  background-color: #fff;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #7e8082 !important;
  border: 0;
  border-radius: 0;
  font-size: 16px;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dashContent .content .container div.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dashContent .content .container div.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: transparent;
  border: 0;
  color: #f29f33 !important;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_paginate .paginate_button.previous, .dashContent .content .container div.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  background-color: #f7f7f7;
  border-radius: 5px;
  color: #7e8082 !important;
}
.dashContent .content .container div.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover, .dashContent .content .container div.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
  background-color: #FCA003;
  color: #fff !important;
}
.dashContent .content .container .productContainer {
  margin: 30px 0;
  background: #fff;
  -webkit-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
  box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.15);
}
.dashContent .content .container .productContainer .headTitle {
  background: #2D2D2D;
  color: #fff;
  font-size: 19px;
  padding: 15px 20px;
}
.dashContent .content .container .productContainer .infoCont {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.dashContent .content .container .productContainer .infoCont img {
  width: 250px;
  height: 500px;
  border: 1px solid #535455;
}
.dashContent .content .container .productContainer .infoCont .info {
  flex: 1;
  margin-right: 15px;
}
.dashContent .content .container .productContainer .infoCont .info .proName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashContent .content .container .productContainer .infoCont .info .proName h5 {
  color: #535455;
  font-size: 17px;
}
.dashContent .content .container .productContainer .infoCont .info .proName h5 span {
  color: #a7a7a7;
  margin-right: 25px;
  font-weight: bold;
}
.dashContent .content .container .productContainer .infoCont .info .proName .custom-switch {
  padding-left: 70px;
}
.dashContent .content .container .productContainer .infoCont .info .proName .custom-switch .custom-control-label {
  font-size: 18px;
  color: #a7a7a7;
  font-weight: bold;
}
.dashContent .content .container .productContainer .infoCont .info .proName .custom-switch .custom-control-label::before {
  border-radius: 15px;
  width: 50px;
  height: 25px;
  left: -70px;
}
.dashContent .content .container .productContainer .infoCont .info .proName .custom-switch .custom-control-label::after {
  top: 27%;
  left: -65px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.dashContent .content .container .productContainer .infoCont .info .proName .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #cacaca;
  background-color: #cacaca;
}
.dashContent .content .container .productContainer .infoCont .info .proName .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #f29f33;
  left: -55px;
}
.dashContent .content .container .productContainer .infoCont .info h5 {
  font-size: 18px;
  margin: 5px 0 10px;
  color: #a7a7a7;
}
.dashContent .content .container .productContainer .infoCont .info h4 {
  font-size: 18px;
  color: #7e8082;
  font-weight: bold;
}
.dashContent .content .container .productContainer .infoCont .info h4.comp {
  margin: 20px 0 25px;
  font-size: 20px;
  color: #2D2D2D;
}
.dashContent .content .container .productContainer .infoCont .info .price {
  color: #FCA003;
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0;
}
.dashContent .content .container .productContainer .infoCont .info .price span {
  color: #a7a7a7;
  text-decoration: line-through;
  font-size: 16px;
  margin-right: 15px;
}
.dashContent .content .container .productContainer .infoCont .info p {
  font-size: 18px;
  color: #7e8082;
}
.dashContent .content .container .productContainer .infoCont .info .custom-checkbox {
  padding-left: 0;
  margin-left: 80px;
}
.dashContent .content .container .productContainer .infoCont .info .custom-checkbox .custom-control-label {
  padding-right: 55px;
  font-size: 17px;
  color: #2D2D2D;
}
.dashContent .content .container .productContainer .infoCont .info .custom-checkbox .custom-control-label::before {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: auto;
  border: #2d2d2d solid 1px;
  border-radius: 0;
}
.dashContent .content .container .productContainer .infoCont .info .custom-checkbox .custom-control-label::after {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: auto;
}
.dashContent .content .container .productContainer .infoCont .info .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #FCA003;
  background-color: #FCA003;
}
.dashContent .content .container .productContainer .infoCont .info .additionPrice {
  color: #7e8082;
  font-size: 18px;
}
.dashContent .content .container .productContainer .infoCont .info a {
  justify-content: center;
  color: #7e8082;
}
.dashContent .content .container .productContainer .infoCont .info a.edit, .dashContent .content .container .productContainer .infoCont .info a.delete {
  background: #f7f7f7;
  width: 100px;
  height: 40px;
  border-radius: 9px;
}
.dashContent .content .container .productContainer .infoCont .info a.edit {
  margin-left: 35px;
}
.dashContent .content .container .productContainer .infoCont .info a.edit:hover {
  background-color: #FCA003;
  color: #fff;
}
.dashContent .content .container .productContainer .infoCont .info a.delete:hover {
  background-color: #f00;
  color: #fff;
}

/* end index */
/*start scroll top */
#scroll-top {
  width: 40px;
  height: 40px;
  line-height: 37px;
  color: #fff;
  background-color: #FCA003;
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border: 2px solid transparent;
  left: 15px;
}
#scroll-top:hover {
  background-color: #FFF;
  color: #FCA003;
  border: 2px solid #FCA003;
}

/*end scroll-top*/
/* Start Media Query */
/*Small Screen*/
/*Medium Screen*/
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1600px;
  }
}
/*Larger Screen*/
/* End Media Query */

/*# sourceMappingURL=style.css.map */
