/* start common style*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #535455; }

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  outline: none;
  box-shadow: none; }

.modal {
  overflow-y: auto; }

.w-49 {
  width: 49% !important; }

a, button {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out; }

form label {
  font-weight: bold;
  font-size: 15px; }
form .form-control {
  height: 50px;
  padding: 10px 20px;
  font-size: 15px;
  color: black;
  border: 1px solid #d6d6d6;
  border-radius: 7px; }
  form .form-control:focus {
    background-color: #fff;
    outline: 0;
    box-shadow: none;
    border: 1px solid #d6d6d6; }
form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), form .bootstrap-select > .dropdown-toggle {
  height: 50px;
  border-radius: 7px; }
  form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder, form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:active, form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:focus,
  form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:hover, form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder, form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:active, form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:focus,
  form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:hover {
    border-radius: 7px; }

:placeholder-shown::-webkit-input-placeholder {
  opacity: 1;
  color: #2D2D2D; }

.clear {
  clear: both; }

.owl-carousel {
  direction: ltr; }

.customHr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #eaeaea; }

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center; }

p {
  margin-bottom: 0; }

.toggleOpacity {
  opacity: 1 !important; }

.mr-18 {
  margin-right: 18px; }

.mr-27 {
  margin-right: 27px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/* end common style*/
/* start loader */
.layer-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .layer-preloader img {
    width: 200px; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* end loader */
body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: right;
  overflow: hidden; }

/*start auth form */
.authForm .container {
  position: relative;
  overflow: hidden;
  min-height: 100vh; }
  .authForm .container .logo {
    width: 240px; }
  .authForm .container .footerBuilding {
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
    margin: auto;
    height: 500px;
    width: 100%; }

/*end auth form */
/*start scroll top */
#scroll-top {
  width: 40px;
  height: 40px;
  line-height: 37px;
  color: #fff;
  background-color: #FCA003;
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border: 2px solid transparent;
  left: 15px; }
  #scroll-top:hover {
    background-color: #FFF;
    color: #FCA003;
    border: 2px solid #FCA003; }

/*end scroll-top*/
/* Start Media Query */
/*Small Screen*/
/*Medium Screen*/
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1600px; } }
/*Larger Screen*/
/* End Media Query */

/*# sourceMappingURL=style.css.map */
